<div class="promote-custom-modal">
    <ng-container>
        <div class="custom-field">
            <div class="promote-heading"><strong>“{{title}}”</strong><br>
                You can allow Enterprise Innovation Platform team to share this use case on our channels and through our emailers to increase
                reach.
            </div>
            <div class="promote-checkbox">
                <ng-container>
                    <div class="custom-checkbox">
                        <input type="checkbox" name="checkboxx" [checked]="checkboxx" (change)="checkboxevent($event)"
                            class="styled-checkbox" id="promote">
                        <label for="promote">Yes, I authorize Enterprise Innovation Platform to promote this use case. </label>
                    </div>
                </ng-container>
            </div>
            <div class="text-right">
                <button class="pos-rel red-btn" (click)="promoStrartStrop(isUcsPromoted)"> Ok
                    <div class="css-loader-btn" *ngIf="shareingLoader">
                        <div class="sbl-circ"></div>
                    </div>
                </button>
                <button class=" minw-170  transparent-btn" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </ng-container>

</div>