<div class="custom-modal-with-blue">
    <div class="blue-heading">Promotion Code
        <a (click)="closeDialog()" href="javascript:void(0);" class="ct-close close-modal"><span
                class="close-icon"></span> Close</a>
    </div>
    <div class="blue-modal-body">
        <ng-container *ngIf="detailLoader">
            <div class="text-center pos-rel">
                <div class="preloader-box">
                    <div class="preloader pl-size-l">
                        <div class="spinner-layer pl-orange">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="row mt-30">
            <div class="col-sm-12">
                <ng-container *ngIf="!detailLoader">
                    <div class="highlight">
                        <pre><code width="100%" [highlight]="details.content" [languages]="lang" [lineNumbers]="true"></code></pre>
                    </div>
                    <mat-hint>Copy above code to promote Use-cases on thrid party websites.</mat-hint>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="!detailLoader">
            <div class="row mt-30">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-center">
                    <button class="mr-3 red-btn minw-170" (click)="copy(details.content)">Copy
                    </button>
                    <button type="button" class="transparent-btn" (click)="closeDialog()">Cancel</button>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </ng-container>
    </div>
</div>