                <ng-container *ngIf="overViewLoader == false">
                    <app-usc-details-sidebar [details]="ucsDetails" [tech]="techlogies"></app-usc-details-sidebar>
                    <div class="uc-short-desc">
                        <ng-container *ngIf="ucsDetails.short_description">
                            {{ucsDetails.short_description}}
                        </ng-container>
                        <ng-container *ngIf="ucsDetails.long_description">
                            <ckeditor [editor]="Editor" [config]="ckEditorConfig"
                                [(ngModel)]="ucsDetails.long_description" [disabled]="true">
                            </ckeditor>
                        </ng-container>
                    </div>
                </ng-container>
                