<div>
    <aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)">
        <div class="menu">
            <ul class="list"
                [ngStyle]="{'position' : 'relative', 'max-height' : listMaxHeight+'px', 'max-width' : listMaxWidth+'px'}"
                [perfectScrollbar]>
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class=" image">
                            <img src="assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
                        </div>
                    </div>
                    <div class="profile-usertitle">
                        <div class="sidebar-userpic-name font-weight-bold">Ankur Dinesh</div>
                    </div>
                </li>
                <li [ngClass]=[startups]>
                    <a href="javascript:void(0)" class="menu-toggle" (click)="reDirectToStartups()">
                        <i class="material-icons-two-tone">business</i>
                        <span class="hide-menu">Startups
                        </span>
                    </a>
                </li>
                <li [ngClass]=[corporates]>
                    <a href="javascript:void(0)" class="menu-toggle" (click)="reDirectToCorporates()">
                        <i class="material-icons-two-tone">business</i>
                        <span class="hide-menu">Corporates
                        </span>
                    </a>
                </li>
                <li [ngClass]=[promotions]>
                    <a href="javascript:void(0)" class="menu-toggle" (click)="reDirectToPromotions()">
                        <i class="material-icons-two-tone">business</i>
                        <span class="hide-menu">Promotions
                        </span>
                    </a>
                </li>
               <!--  <li [class.active]="makeActive(showMenu,sidebarItem.title)" *ngFor="let sidebarItem of sidebarItems"
                [routerLinkActive]="sidebarItem.path == currentBasePath ? 'active' : ''">
                <div class="header" *ngIf="sidebarItem.groupTitle === true">{{sidebarItem.title}} {{sidebarItem.path}} {{currentBasePath}}</div>
                <a [routerLink]="sidebarItem.class === '' ? [sidebarItem.path] : null"
                    *ngIf="!sidebarItem.groupTitle;" [ngClass]="[sidebarItem.class]"
                    (click)="callMenuToggle($event, sidebarItem.title)">
                    <i [ngClass]="[sidebarItem.iconType]">{{sidebarItem.icon}}</i>
                    <span class="hide-menu">{{sidebarItem.title}}
                    </span>
                </a>
                    <ul class="ml-menu" *ngIf="sidebarItem.submenu.length > 0">
                        <li *ngFor="let sidebarSubItem of sidebarItem.submenu"
                            [class.activeSub]="makeActive(showSubMenu,sidebarSubItem.title)"
                            
                            [routerLinkActive]="sidebarSubItem.path == currentPath ? 'active' : '' ">
                            <a [routerLink]="sidebarSubItem.submenu.length > 0 ? null : [sidebarSubItem.path]"
                                (click)="callSubMenuToggle(sidebarSubItem.title)" [ngClass]="[sidebarSubItem.class]">
                                {{sidebarSubItem.title}}
                            </a>
                            <ul class="collapse" *ngIf="sidebarSubItem.submenu.length > 0"
                                [ngClass]="{'in' : showSubMenu === sidebarSubItem.title }">
                                <li *ngFor="let sidebarSubsubItem of sidebarSubItem.submenu"
                                    [ngClass]="[sidebarSubsubItem.class]">
                                    <a [routerLink]="[sidebarSubsubItem.path]">
                                        {{sidebarSubsubItem.title}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> -->
                </ul>
        </div>
    </aside>
</div>

<!-- <div>
    <aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)">
        <div class="menu">
            <ul class="list"
                [ngStyle]="{'position' : 'relative', 'max-height' : listMaxHeight+'px', 'max-width' : listMaxWidth+'px'}"
                [perfectScrollbar]>
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class=" image">
                            <img src="assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
                        </div>
                    </div>
                    <div class="profile-usertitle">
                        <div class="sidebar-userpic-name font-weight-bold">Ankur Dinesh</div>
                    </div>
                </li>
                <li [class.active]="makeActive(showMenu,sidebarItem.title)" *ngFor="let sidebarItem of sidebarItems"
                    [routerLinkActive]="sidebarItem.path == currentBasePath ? 'active' : ''">
                    <div class="header" *ngIf="sidebarItem.groupTitle === true">{{sidebarItem.title}} {{sidebarItem.path}} {{currentBasePath}}</div>
                    <a [routerLink]="sidebarItem.class === '' ? [sidebarItem.path] : null"
                        *ngIf="!sidebarItem.groupTitle;" [ngClass]="[sidebarItem.class]"
                        (click)="callMenuToggle($event, sidebarItem.title)">
                        <i [ngClass]="[sidebarItem.iconType]">{{sidebarItem.icon}}</i>
                        <span class="hide-menu">{{sidebarItem.title}}
                        </span>
                    </a>
                    <ul class="ml-menu" *ngIf="sidebarItem.submenu.length > 0">
                        <li *ngFor="let sidebarSubItem of sidebarItem.submenu"
                            [class.activeSub]="makeActive(showSubMenu,sidebarSubItem.title)"
                            
                            [routerLinkActive]="sidebarSubItem.path == currentPath ? 'active' : '' ">
                            <a [routerLink]="sidebarSubItem.submenu.length > 0 ? null : [sidebarSubItem.path]"
                                (click)="callSubMenuToggle(sidebarSubItem.title)" [ngClass]="[sidebarSubItem.class]">
                                {{sidebarSubItem.title}}
                            </a>
                            <ul class="collapse" *ngIf="sidebarSubItem.submenu.length > 0"
                                [ngClass]="{'in' : showSubMenu === sidebarSubItem.title }">
                                <li *ngFor="let sidebarSubsubItem of sidebarSubItem.submenu"
                                    [ngClass]="[sidebarSubsubItem.class]">
                                    <a [routerLink]="[sidebarSubsubItem.path]">
                                        {{sidebarSubsubItem.title}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</div> -->