.login100-form-title {
    font-size: 20px;
    text-align: left;
}

.rest-pass-success{
    font-size: 15px !important;
    text-transform: none !important;
}
.country-code-label {
    position: absolute;
    top: -16px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.35) !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.country-code-select {
    padding-bottom: 4px;
}